In [1]:
#                                        ANSWER 1
variable_name = " ' "
print(variable_name)

 '

In [2]:
#                                      ANSWER 2
# In Python, both a single character enclosed in quotes and a string of length 1 are represented as string type variables. So, in the case of the variable x = 'a', 'x'  is a string type variable, not a character type.
# In Python, there is no separate data type for individual characters. Instead, a single character is represented as a string of length 1. This design choice allows for consistent handling of individual characters and strings, making operations and manipulations more uniform.
x = 'a'
print(type(x))
# The output confirms that the type of "x" is "<class 'str'>", indicating that it is a string type variable.
# In Python, you can perform various string operations on "x" as you would with any other string, such as indexing, slicing, concatenation, and more. This consistency in treating single characters as strings simplifies coding and avoids special cases for individual characters.

<class 'str'>

In [3]:
#                                     ANSWER 3 (1)
variable_name = "Welcome to Python foundation course"
variable_name.find("o")

4

In [4]:
#                                  ANSWER 3 (2)
variable_name.count("e")

3

In [5]:
#                                     ANSWER3 (3)
len(variable_name)

35

In [6]:
#                                    ANSWER 3 (4)
text = 'Welcome to Python foundation course'
added_text = ' for beginners'
concatenated = text + added_text
print(concatenated)

Welcome to Python foundation course for beginners

In [7]:
#                                    ANSWER 4(1)
word = 'PanaJi@12256'
lowercase_count = sum(1 for char in word if char.islower())
print(" Total number of alphabets in lowercase : ",lowercase_count)

 Total number of alphabets in lowercase :  4

In [8]:
#                                    ANSWER 4(2)
word = 'PanaJi@12256'
uppercase_count = sum(1 for char in word if char.isupper())
print(" Total number of alphabets in uppercase : ",uppercase_count)

 Total number of alphabets in uppercase :  2

In [9]:
#                                    ANSWER 4(3)
word = 'PanaJi@12256'
numerical_count = sum(1 for char in word if char.isdigit())
print(" Total number of numerical in str1ng : " ,numerical_count)

 Total number of numerical in str1ng :  5

In [10]:
#                               ANSWER(5)
variable_in_num = 55
print(" VARIABLE IN NUMERICAL VALUE : ",variable_in_num,"\n VERIFY THE TYPE : ",type(variable_in_num))
variable_in_num_as_string = str(variable_in_num)
print(" CONVERTED NUMERICAL VALUE INTO STRING : ",variable_in_num_as_string,"\n VERIFY THE TYPE : ",type(variable_in_num_as_string))

 VARIABLE IN NUMERICAL VALUE :  55
 VERIFY THE TYPE :  <class 'int'>
 CONVERTED NUMERICAL VALUE INTO STRING :  55
 VERIFY THE TYPE :  <class 'str'>